@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
}

:root {
  --primary: #FFB81C;
  --secondary: #003594;
}
h1,h2,h3 {
  margin: 10;
}

body {
  margin: 0;
  color: #333;
  background: #ececec;
}
nav {
  background: var(--secondary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  color: #000000;
  margin: 10px;
  display: inline-block;

}
nav h1 {
  background: var(--secondary);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 50px;
}
h2 {
  background: var(--primary);
  font-family: 'Rubik', sans-serif;
  color: #000000;
  font-size: 20px;  
  padding: 5px 15px;
  text-align: center;
}
h2 a:hover {
  color: #cccc;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}
.logo{
  background-repeat: no-repeat;
  width: 600px;
  height: 200px;
  display: left;
}

/* forms */
form {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
form input, form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}
form button {
  background: green;
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  cursor: pointer;
}

/* example grid */
.example-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.example-card {
  width: 100%;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

/* Dropdown box css stuff*/
.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  position: absolute;  
  transform: translateY(-4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
}

.dropdown-item{
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover{
  background-color: #9fc3f870;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.checkbox-wrapper input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1em;
  height: 1em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #007a7e;
  outline: none;
  cursor: pointer;
}

input.checked {
  background-color: #007a7e;
  position: relative;
}

.notInvisible{
  background-color: green;
}